<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>629651049619-q2u7t1gob5ov2ii81sga6fs8if1qbdrm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.629651049619-q2u7t1gob5ov2ii81sga6fs8if1qbdrm</string>
	<key>API_KEY</key>
	<string>AIzaSyB_Khst88jYRDKsCxfaWS4ymsK4hfQ-qOE</string>
	<key>GCM_SENDER_ID</key>
	<string>629651049619</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fourcoders.foodApp</string>
	<key>PROJECT_ID</key>
	<string>toeato-app</string>
	<key>STORAGE_BUCKET</key>
	<string>toeato-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:629651049619:ios:d6e438c7abeee3fd9a1166</string>
</dict>
</plist>